.historyTab {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
    margin-bottom: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .historyTab:hover {
    transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  .skeletonOP-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.skeletonOP-card {
  background: linear-gradient(80deg, #f0f0f0 25%, #e0e0e0 50%, #d0d0d0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  max-width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skeletonOP-text {
  background: #e4e4e4;
  height: 15px;
  border-radius: 5px;
  margin: 5px 0;
}

.skeletonOP-title {
  width: 70%;
  height: 20px;
}

.skeletonOP-subtitle {
  width: 50%;
  height: 15px;
}

.skeletonOP-items .skeletonOP-text {
  width: 90%;
  height: 12px;
}

/* Shimmer Animation */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
