@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;  
  }
body{
/*   background-image: radial-gradient( rgb(34, 34, 34) 1px,transparent 0);
  background-size: 40px 40px;  */
  background-color: white;
}
a{
  color:white;
}
.loading-circle {
    display: flex;
    align-self: center;
    animation: spin .8s linear infinite;
    border: 5px solid #0003;
    border-radius: 50%;
    border-top-color: crimson;
    height: 40px;
    width: 40px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
